{% extends "base.html" %}
{% block title%}Login user{%endblock%}
{% block content%}

<h1>Login</h1>

<form action="{% url 'login' %}" method=POST>
    {% csrf_token %}
    <div class="mb-3">
      <label for="usernameInput" class="form-label">Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% if form.errors %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an error with your form...
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
{% endif %}

{% endblock %}