{% extends "base.html" %}
{% block title%}User fill profile{%endblock%}
{% block content%}

<h1>Fill your profile</h1>
<form action="{% url 'student' %}" method=POST>
    {% csrf_token %}
    {{ form.as_p }}
<br/><br/>
    <input type="submit" value="Submit" class="btn btn-secondary">
</form>

<br/><br/>

{% if form.errors %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was error with your form...
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
{% endif %}

{% endblock %}